.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.wrapper {
    background-color: #dadada;
    min-height: 100vh
}

.instock-checkbox {
    display: flex;
}

.row-data-not-in-stock {
    color: red;
}

.row-data-in-stock {
    color: darkslategray;
}

.row-data-hide {
    display: none;
}

.router-navbar {
    width: 100%;
    background-color: white;
    color: #fff !important;
}

.router-list {
    list-style-type: none;
}

.router-list-item {
    margin-right: 10px;
    float: left;
}

.instock-span {
    min-width: 200px;
}

.App-header {
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.test-css {
    float: left;
    display: flex;
}

.Heading {
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}